<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styleregister.css">
    <script src="../static/js/AppRegister.js"></script>
    <title>Document</title>
</head>
<body>
    <H1>Register Page </H1>
    <form>
        <label> Id </label> <input type="number"> <br> <br>
        <label> Nombre </label> <input type="text"> <br> <br>
        <label> Apellido </label> <input type="text"> <br> <br>
        <label> Area Laboral </label> <input type="text"> <br> <br>
        <button> Consulta </button>
    
</body>
</html>